{% extends "base.html" %}

{% block content %}
<h2>Admin Dashboard</h2>

<a href="/admin/add-tool" class="btn">+ Add New Tool</a>

<table style="margin-top:20px;">
    <tr>
        <th>Tool Name</th>
        <th>Category</th>
        <th>Usability</th>
        <th>Action</th>
    </tr>

    {% for tool in tools %}
    <tr>
        <td>{{ tool.tool_name }}</td>
        <td>{{ tool.category_name }}</td>
        <td>{{ tool.usability_score }}/10</td>
        <td>
            <a href="/admin/delete-tool/{{ tool.tool_id }}" class="btn">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
